# Drill : Lists, Tuples, Dictionaries

### 1. Choose 5 words from the English language and create  dictionaries that associates each of these words with its French translation.

In [22]:
dic = {"mother":"mère", "father":"père", "brother":"frère", "sister":"soeur", "uncle":"oncle"}

### 2. Add an entry to the dictionary of the previous question (a new word and its definition)

In [23]:
dic["nephew"] = "cousin"
dic

{'mother': 'mère',
 'father': 'père',
 'brother': 'frère',
 'sister': 'soeur',
 'uncle': 'oncle',
 'nephew': 'cousin'}

### 3. How would you cut the following string at each space and put it in a list:

In [1]:
sentence = "I am the master of the world"

In [2]:
split = sentence.split()
split

['I', 'am', 'the', 'master', 'of', 'the', 'world']

### 4. Transform this string "The_universal_number_is_42" by removing the underscores: "The universal number is 42"

In [3]:
universalNumber =  "The_universal_number_is_42"

In [9]:
trans = universalNumber.split('_')
" ".join(trans)

'The universal number is 42'

### 5. Display only values of this dictionary.

In [15]:
heroes = {"Superman" : "Clark kent", "Batman" : "Bruce Wayne", "Spiderman" : "Tony Parker"}

In [16]:
print(heroes.values())
for val in heroes.values(): print(val)

dict_values(['Clark kent', 'Bruce Wayne', 'Tony Parker'])
Clark kent
Bruce Wayne
Tony Parker

### 6. Display only keys of this dictionary.

In [17]:
heroes = {"Superman" : "Clark kent", "Batman" : "Bruce Wayne", "Spiderman" : "Tony Parker"}

In [18]:
for key in heroes.keys(): print(key)

Superman
Batman
Spiderman

### 7. Replace the value of "Spiderman" by "Peter Parker".

In [19]:
heroes = {"Superman" : "Clark kent", "Batman" : "Bruce Wayne", "Spiderman" : "Tony Parker"}

In [21]:
heroes['Spiderman'] = "Peter Parker"
heroes

{'Superman': 'Clark kent',
 'Batman': 'Bruce Wayne',
 'Spiderman': 'Peter Parker'}

### 8. Create a dictionary to build the price base of the products corresponding to the following table:

    Laser sword // 229.0
    Mitendo DX // 127.30
    Linux cushion // 74.50
    Goldorak briefs // 29.90
    Nextpresso station // 184.60

In [25]:
tab = {
    'Laser sword': 229.0, 'Mitendo DX' : 127.30, 'Linux cushion' : 74.50, 'Goldorak briefs':29.90,
      'Nextpresso station' : 184.60
}
tab

{'Laser sword': 229.0,
 'Mitendo DX': 127.3,
 'Linux cushion': 74.5,
 'Goldorak briefs': 29.9,
 'Nextpresso station': 184.6}

### 9. Calculate the total price of the items of the dictionary

In [27]:
print(sum(tab.values()))

645.3

### 10. Remove one of the articles from the dictionary

In [28]:
del tab['Mitendo DX']
tab

{'Laser sword': 229.0,
 'Linux cushion': 74.5,
 'Goldorak briefs': 29.9,
 'Nextpresso station': 184.6}

In [29]:
tab.pop('Goldorak briefs')
tab

{'Laser sword': 229.0, 'Linux cushion': 74.5, 'Nextpresso station': 184.6}