# Quizz - Python basics

## a) Type

### Create a variable 'string' containing \"toto\" and a variable 'number' containing the number 10.

In [2]:
string = "toto"
number = 10

### Convert 'string' to unicode and 'number' in float

In [35]:
string.encode(encoding='UTF-8')

b'toto'

In [4]:
fl_number = float(number)
fl_number

10.0

### Reverse the contents of the variables 'string' and 'number' (in 1 line)

In [9]:
string[::-1]

'otot'

In [10]:
str(fl_number)[::-1]

'0.01'

## b) List

### Create a list `A`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [87]:
A = [1, 3, 2, 7, 4, 10, 46]

### Display the first 3 items in list `A` - in one line of code

In [88]:
print(A[0:3])

[1, 3, 2]

### Create a list `B` that contains only the 3rd, 4th and 5th elements of `A` . Your line of code should only contain 8 characters (not including spaces) - Check your result carefully!

In [89]:
B = A[2:5]
print(B)

[2, 7, 4]

### Concatenate lists `A` and `B` to form list `C`.

In [90]:
C = A + B
print(C)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4]

### Using the zip function, associate the values of `A` and `B` in the variable `D`

In [91]:
D = list(zip(A,B))
print(D)

[(1, 2), (3, 7), (2, 4)]

### Add the number 5 to list `A`

In [92]:
A.append(5)
A

[1, 3, 2, 7, 4, 10, 46, 5]

### Add a null element to the `C` list

In [93]:
C.append(None)
C

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4, None]

### Write a function that takes as arguments a list 'lst' and an integer 'n' and returns the result of n concatenations of 'lst' with itself (e.g. lst=[1,2,3], n=2 --> [1,2,3,1,2,3]).

In [54]:
def n_concat(lst,n):
    res = []
    for i in range(0,n+1):
        for item in lst: res.append(item)
    return res
n_concat([1,2,3],4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### You want to make parameter 'n' optional and set its value to 2 by default. How do you do it?

In [31]:
def n_concat(lst,n=2):
    res = []
    for i in range(0,n+1):
        for item in lst: res.append(item)
    return res
n_concat([1,2,3])

[1, 2, 3, 1, 2, 3, 1, 2, 3]

###  With a 'while' loop, print each element of the `C` list up to the `null` element.

In [95]:
i=0
while i< len(C):
    print(C[i])
    i += 1

1
3
2
7
4
10
46
2
7
4
None

### Calculate, with a 'for' loop, the number of even integers present in the list A

In [57]:
len([ele for ele in A if ele%2==0])

4

### Rewrite the following expression with a multi-line 'for' loop
C = [element for element in A if element %2 == 0]

In [36]:
for element in A:
    if element%2 == 0:
        C.append(element)

### Create a function that takes a string as input and returns the first single letter of the string

In [37]:
def first(string):
    
    return(string[0])

first('banana')

'b'

## c) Dictionaries

### Create a car dictionary with the following keys and values:\n",
    | key  | value |
    |---|---|
    | brand  | Ford  |
    | model  | Mustang |
    | year  | 1964 |

In [38]:
car = {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Access the \"year\" value

In [40]:
print(car['year'])

1964

###  Use a loop to display all the dictionary keys

In [45]:
for key in car.keys():print(key)

brand
model
year

In [42]:
print(car.keys())

dict_keys(['brand', 'model', 'year'])

###  Use a loop to display all the dictionary value

In [47]:
for val in car.values(): print(val)

Ford
Mustang
1964

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (enumerate function)

In [96]:
for key, val in enumerate(car.items()): print(key,val)

0 ('brand', 'Ford')
1 ('model', 'Mustang')
2 ('year', 1964)

### With the help of a comprehension dictionary create a dictionary with the following keys and values :
    | key  | value |
    |---|---|
    | cle_1  | dictionary 'car' |
    | cle_2  | dictionary 'car' |
    | cle_3  | dictionary 'car'|
#### exemple de dictionnaire comprehension :,

    dict = {key:value for key, value in list_1, list_2}

In [82]:
dict = {item:car for item in ['cle_1','cle_2','cle_3']}
dict

{'cle_1': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964},
 'cle_2': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964},
 'cle_3': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}}

## d) Functions

### Create a fibonacci function (fibonacci sequence: 0 1 1 2 3 5 8 13 ...)
    Ex : fibonacci(13) return [0,1,1,2,3,5,8,13]

In [108]:
# Calculate fibonacci sequence for n numbers
def fib(n):
    a,b = 0,1
    lst = []
    for i in range(0,n):
        lst.append(a)
        a, b = b, a+b
    return lst
fib(8)

[0, 1, 1, 2, 3, 5, 8, 13]

In [135]:
# Calculate fibonacci sequence up until value n as requested in the exercise
def fibonacci(n):
    a,b = 0,1
    lst = []
    while a <= n:
        lst.append(a)
        a, b = b, a+b
    return lst
fibonacci(13)

[0, 1, 1, 2, 3, 5, 8, 13]

### Execute your function (fibonacci(100) must be executed in less than 1 second)

In [136]:
fibonacci(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [137]:
%%timeit
fibonacci(100)

1.42 µs ± 13.4 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

### Create a fibonacci function using a generator

In [138]:
def _make_gen(n=100):
    a,b = 0,1
    lst = []
    while a <= n:
        lst.append(a)
        a, b = b, a+b
    yield lst

In [139]:
gen = _make_gen()

In [140]:
for x in gen:
    print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]